* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(132, 132, 236);
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(../assets/map-solo-2245664933.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}

/*********** Header ********/

header {
  position: sticky;
  top: -0.15rem;
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0.5rem 0.5rem #1c193833;
}

header nav ul {
  display: flex;
  gap: 70px;
  list-style: none;
  padding: clamp(2rem, -31.8rem + 41.6vw, 3.3rem);
  justify-content: space-around;
}

header nav ul li a {
  text-decoration: none;
  font-size: clamp(1rem, -19.8rem + 25.6vw, 1.8rem);
  font-weight: 700;
  color: #c8cbe7;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 9px;
  z-index: 999;
}

header nav ul li a svg {
  width: clamp(1.875rem, -30.625rem + 40vw, 3.125rem);
  height: clamp(1.875rem, -30.625rem + 40vw, 3.125rem);
}

header nav ul li a svg path {
  fill: #ffffff;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: #22227f94;
}

header nav ul li a:hover path {
  fill: #22227f94;
}

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}

/*********** Footer *************/

footer {
  background-color: #4e4ec1;
  border-top: solid;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/*estilos bootstrap footer*/
.cards {
  background-color: #4e4ec1;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.cards h5 {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.5rem;
}

.cards a {
  display: block;
  color: #a65bd4;
  background-color: #1c1938;
  border: none;
  margin: 5px;
}

.cards a:hover {
  background-color: #1c19386d;
}

/**INDEX**/

/******************* Section Index title *******************/

.main-index {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.main-index__section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  min-height: 80svh;
}

.main-index__section-title h1 {
  font-size: clamp(5rem, -47rem + 64vw, 7rem);
  font-weight: 900;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.552);
  letter-spacing: 10px;
  color: rgb(78, 78, 193);
  -webkit-text-stroke: 1px #000;
  text-align: center;
}

.main-index__section-title p {
  font-size: clamp(1.7rem, -6.1rem + 9.6vw, 2rem);
  font-weight: 600;
  text-align: center;
  color: #1c1938;
}

/*********** Section index card ***************/

.main-index__section-card {
  display: flex;
  flex-direction: row;
  background-color: #1c1938;
  border-radius: 8px;
  max-width: 1200px;
  box-shadow: -20px 25px 3px 4px #1c19387a;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-index__section-card__article-text {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.main-index__section-card__article-text__div-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}

.main-index__section-card__article-text__div-title h1 {
  color: #d9dade;
  font-size: clamp(2rem, -19rem + 48vw, 4rem);
}

.main-index__section-card__article-text__div-title h1 span {
  color: #a65bd4;
}

.main-index__section-card__article-text__div-title p {
  color: #7e7d93;
  font-size: clamp(1.1rem, -2.4rem + 8vw, 1.5rem);
}

.main-index__section-card__article-text__div-dates {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.main-index__section-card__article-text__div-dates div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-wrap: wrap;
  align-items: center;
}

.main-index__section-card__article-text__div-dates div strong {
  font-size: clamp(2.4rem, -12rem + 19.2vw, 3rem);
  color: #ffffff;
}

.main-index__section-card__article-text__div-dates div span {
  color: #8484ec;
  letter-spacing: 1px;
  font-size: clamp(1rem, -11rem + 16vw, 1.5rem);
}

/******* section valors and mision index *********/

.main-index__section-valors {
  display: flex;
  flex-direction: column;
  box-shadow: -20px 25px 3px 4px #1c19387a;
  justify-content: center;
  align-items: center;
  background-color: #1c1938;
}

.main-index__section-valors__article-contain {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #ffffff;
  padding: 40px;
  gap: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.main-index__section-valors__article-contain:hover {
  background-color: #1c1938ea;
}

.main-index__section-valors__article-contain:nth-child(2) {
  flex-direction: row;
}

.main-index__section-valors__article-contain img {
  width: 100%;
  border-radius: 15px;
}

.main-index__section-valors__article-contain__div-text h2 {
  font-size: clamp(2.6rem, -3.276rem + 14.118vw, 3.5rem);
  color: #a65bd4;
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-index__section-valors__article-contain__div-text h2 img {
  width: 50px;
}

.main-index__section-valors__article-contain__div-text p {
  font-size: clamp(0.7rem, -4.247rem + 11.765vw, 1.4rem);
  opacity: 0.5;
}

/* TECNOLOGIAS */

/********* Section Bento Tecnologias ***********/

.main-tecnologias {
  min-height: 100vh;
}

.main-tecnologias__section-bento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

.main-tecnologias__section-bento article {
  background-color: #1c1938;
  border-radius: 12px;
  padding: 2rem;
}

.main-tecnologias__section-bento article h2 {
  color: #4e4ec1;
  font-size: clamp(2rem, -8.294rem + 23.529vw, 3rem);
}

.main-tecnologias__section-bento article p {
  color: #7e7d93;
  font-size: 1.2rem;
}

.main-tecnologias__section-bento article:first-child {
  grid-row: span 2;
}

.main-tecnologias__section-bento article:nth-child(4) {
  grid-column: span 2;
}

/**EQUIPO**/

/********* Section perfiles equipo ****************/

.main-equipo__section-perfiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.main-equipo__section-perfiles h1 {
  margin-top: 100px;
  font-weight: bolder;
  font-size: clamp(3.8rem, -8.2rem + 27.429vw, 5rem);
  color: #a65bd4;
  -webkit-text-stroke: 1px #000;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.351);
  text-align: center;
}

.main-equipo__section-perfiles article {
  width: 50%;
  background-color: #1c1938;
  color: white;
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: -20px 25px 3px 4px #1c19387a;
}

/**CONTACTO**/

/********** Section form contacto ***********/
.main-contacto {
  min-height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contacto__section-form {
  background-color: #1c1938;
  padding: 40px;
  border-radius: 20px;
  box-shadow: -20px 25px 3px 4px #1c19387a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.main-contacto__section-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-contacto__section-form h1 {
  color: #a65bd4;
  font-size: clamp(3.8rem, -8.2rem + 27.429vw, 4rem);
  -webkit-text-stroke: 1px #000;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.351);
  font-weight: bolder;
}

.main-contacto__section-form label {
  color: white;
  opacity: 0.5;
  font-size: 1.4rem;
}

.main-contacto__section-form input {
  border-radius: 10px;
  height: 50px;
  border: none;
}

.main-contacto__section-form p {
  color: white;
  opacity: 0.5;
  font-size: 1.4rem;
  margin-top: 20px;
}

.main-contacto__section-form div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.main-contacto__section-form button {
  padding: 20px;
  border-radius: 7px;
  border: none;
  background-color: #a65bd4;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.main-contacto__section-form button:hover {
  background-color: #a65bd49c;
}

/**AYUDA**/

/********** Section acordeon Ayuda **********/

.main-ayuda {
  min-height: 120vh;
  display: flex;
  padding: 10px;
}

.main-ayuda__section-acordeon {
  background-color: #1c1938;
  box-shadow: -20px 25px 3px 4px #1c19387a;
  padding: 50px;
  width: 85%;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.main-ayuda__section-acordeon h1 {
  color: #a65bd4;
  font-size: clamp(3.8rem, -8.2rem + 27.429vw, 4rem);
  -webkit-text-stroke: 1px #000;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.351);
  font-weight: bolder;
}

.main-ayuda__section-acordeon summary {
  font-size: 3rem;
  color: #a65bd4;
  -webkit-text-stroke: 1px #000;
}

.main-ayuda__section-acordeon p {
  font-size: 1.2rem;
  opacity: 0.5;
}

/* Medias */

/* Responsive Tablet */

@media screen and (max-width: 1024px) {
  /* Header responsive */
  body {
    background-image: url(../assets/FONDO\ mobile.png);
    background-attachment: initial;
    background-size: auto;
  }

  header nav ul {
    gap: 40px;
    padding: 40px;
  }

  header nav ul li a {
    color: #9d34de;
  }

  .main-index__section-valors__article-contain {
    flex-direction: column;
    padding: 25px;
  }
  .main-index__section-valors__article-contain:nth-child(2) {
    flex-direction: column;
  }

  .main-tecnologias__section-bento {
    grid-template-columns: 1fr;
  }

  /* responsive  bento section Tecnologias */
  .main-tecnologias__section-bento article:first-child,
  .main-tecnologias__section-bento article:nth-child(4) {
    grid-row: auto;
    grid-column: auto;
  }
}

/* Responsive Mobile */

@media screen and (max-width: 768px) {
  /* Header responsive */

  header nav ul {
    justify-content: center;
    gap: 10px;
    padding: 30px;
  }

  /* Nav Mobile */
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    box-shadow: 0 0 0.5rem #4e4ec1;
    backdrop-filter: blur(0.2rem);
    background-color: #4e4ec16a;
    color: black;
    display: block;
  }

  .nav-mobile {
    position: relative;
    margin: 0;
  }

  .nav-mobile h2::after {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 1rem;
    top: 0.8rem;
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }

  .nav-mobile:hover h2::after {
    transform: rotate(-90deg);
  }

  .nav-mobile {
    max-width: 100%;
    font-family: system-ui;
    border: 1px solid #8383eb;
    border-radius: 4px;
  }

  .nav-mobile .title {
    font-weight: 600;
    font-size: 24px;
    padding: 16px;
  }

  .nav-mobile .nav-mobile__content {
    padding-inline: 1rem;
    display: grid;
    grid-template-rows: 0fr;
  }

  .nav-mobile:hover .nav-mobile__content {
    grid-template-rows: 1fr;
  }

  .nav-mobile .nav-mobile__content > div {
    overflow: hidden;
  }

  .nav-mobile .nav-mobile__content ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  .nav-mobile .nav-mobile__content ul li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-mobile .nav-mobile__content ul li:hover {
    background-color: #8383eb;
    border-radius: 4px;
  }

  .nav-mobile .nav-mobile__content ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #c8cbe7;
  }

  /* index section responsive */

  .main-index__section-card {
    flex-direction: column-reverse;
    width: 100%;
  }

  .main-index__section-card__article-text {
    padding: 32px;
  }

  .main-index__section-card__article-text__div-dates {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-index__section-card__article-text__div-title {
    flex-wrap: wrap;
    text-align: center;
  }

  /* equipo section responsive */
  .main-equipo__section-perfiles article {
    width: 80%;
  }

  .main-equipo__section-perfiles h1 {
    font-size: clamp(2.5rem, -23.235rem + 58.824vw, 5rem);
  }
}
