body {
  background-color: $bg-color-fucs;
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(../assets/map-solo-2245664933.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}
