$bg-color-fucs: rgb(132, 132, 236);
$color-title-index: #4e4ec1;
$color-purple-dark: #1c1938;
$color-pink-dark: #a65bd4;
$color-text-index: #8e8c9c;
$color-text-white: #d9dade;
$color-title-span: #8547ac;
$color-purple-light: #4c4cbb9a;
$color-purple-contacto: #35306a;
