footer {
  background-color: #4e4ec1;
  border-top: solid;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  .cards {
    background-color: #4e4ec1;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    h4 {
      font-weight: bolder;
      text-decoration: underline;
      font-size: 1.5rem;
    }
    a {
      display: block;
      color: #a65bd4;
      background-color: #1c1938;
      border: none;
      margin: 5px;
      &:hover {
        background-color: #1c19386d;
      }
    }
  }
}
